@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&family=Kaushan+Script&family=Roboto&display=swap');


#content{
    background-color: #E9C46A;
    max-width: 1600px;
    margin: 0 auto;
}

header{
    background-color:#E76F51 ;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo{
    width:80px;
}

#logo_link{
    padding-top: 5px;
    justify-self:center;
    align-self: center;
}
nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    
    text-decoration: none;
    font-family: "roboto";
    font-weight: bold;
    
    font-size: 2em;
    padding: 35px;
    
}

nav a:hover{
    background-color: #0D3B66 ;
    color:#E53D00;
    text-decoration: none;
}

.image_gallery{
    width: 100%;
    height: 860px;
    transition: all 3s ease-out;
    
}

nav a {
    
    color: #0D3B66;
    transition: all 1s ease-out;
  }

div.scroll-container {
    position: relative;
    text-align: center;
    background-color: #333;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 10%;
    margin-right: 10%;
    height: 900px;
    transition: all 3s ease-out;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 3s ease-out;

}
.centered :hover{
    transform: scale(1.5);
}
.image_text{
    color:#2A9D8F;
    font-family: "Kaushan Script";
    font-size: 1.5em;
}
div.scroll-container :hover{
    transform: scale(1.5);
    
    
    
    
}   



   

  


.web-home-title{
    font-family: "Kaushan Script";
    padding-top: 2%;
    
    text-align: center;
    font-size: 5em;
    color:#e53d00e5;

    
    
}
.web-samples-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:300px 300px 300px 300px 300px 300px 300px 300px
}
.web-marketing-grid{
    max-width: 1600px;
    height: 100%;
}
.marketing_title{
    font-family: "Kaushan Script";
    padding-top: 2%;
    
    text-align: center;
    font-size: 5em;
    color:#e53d00e5;
}

.show-marketing{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 800px;
    grid-gap: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.text-container{
    grid-column: 1/4;
    grid-row: 1/2;
    
    
}



.marketing-div-1{
    grid-row: 1/2;
    grid-column: 1/2;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
    transition: all 3s ease-out;
    z-index: 1;
    
}

.marketing-div-2{
    grid-row: 1/2;
    grid-column: 2/3;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
    transition: all 3s ease-out;
    z-index: 1;
}

.marketing-div-3{
    grid-row: 1/2;
    grid-column: 3/4;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
    transition: all 3s ease-out;
    z-index: 1;
    
    
}

.marketing-div-1 :hover{
    filter: blur(0);
    filter:opacity(0);
    
    
}

.marketing-div-2 :hover{
    filter: blur(0);
    filter:opacity(0)
}

.marketing-div-3 :hover{
    filter: blur(0);
    filter:opacity(0)
}

.marketing_1_img{
    display: block;
    width: 100%;
    height: 70%;
    border-radius: 5%;
    transition: all 3s ease-out;
    
    
}
.marketing_2_img{
    display: block;
    width: 100%;
    height: 70%;
    border-radius: 5%;
    transition: all 3s ease-out;
    
    
    
}
.marketing_3_img{
    display: block;
    width: 100%;
    height: 70%;
    border-radius: 5%;
    transition: all 3s ease-out;
    
    
}

.marketing_paragraph_1{
    display: block;
    color:#264653;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    z-index: 1;
    
    
}

.marketing_paragraph_2{
    display: block;
    color:#264653;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    z-index: 1;

    
}

.marketing_paragraph_3{
    display: block;
    color:#264653;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    z-index: 1;
}

.text_1{
    font-family: "Kaushan Script";
    color: #E53D00;
    font-size: 4.5em;
    text-align: left;
    text-justify:initial;
    padding-left: 5%;

}

.text_2{
    font-family: "Kaushan Script";
    text-align: center;
    text-justify: initial;
    color: #E53D00;
    font-size: 4.5em;
}

.text_3{
    font-family: "Kaushan Script";
    text-align: right;
    text-justify: initial;
    padding-right: 5%;
    color: #E53D00;
    font-size: 4.5em;
    padding-bottom: 5%;
}



.samples_title{
    font-family: "Kaushan Script";
    padding-top: 2%;
    
    text-align: center;
    font-size: 5em;
    color:#E53D00;
    padding-bottom: 2%;
    grid-column: 1/6;
    grid-row: 1/2;
}
#myImg{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
}
#myImg2{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}
#myImg3{
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
}
#myImg4{
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: center;
}
#myImg5{
    grid-column: 5/6;
    grid-row: 2/3;
    justify-self: center;
}
.home_paragraph_1{
    color:#264653;
    font-family: "Roboto", sans-serif;
    font-size: 2.5em;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    
}
.home_paragraph_2{
    font-family: "Roboto", sans-serif;
    font-size: 2.5em;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    color:#264653;
    padding-bottom: 5%;
}
.samples_paragraph_1{
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    color:#264653;
    padding-top: 5%;
    grid-column: 1/6;
    grid-row: 3/4;
}
.samples_paragraph_2{
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    color:#264653;
    grid-column: 1/6;
    grid-row: 4/5;

}
.samples_paragraph_3{
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    color:#264653;
    grid-column: 1/6;
    grid-row: 5/6;

}
.samples_paragraph_4{
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    color:#264653;
    grid-column: 1/6;
    grid-row: 6/7;

}
.samples_paragraph_5{
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    color:#264653;
    grid-column: 1/6;
    grid-row: 7/8;
}
footer{
    background-color:#E76F51;
    color:#0D3B66;
    padding: 25px 25px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color:#0D3B66;
    text-decoration: none;
    font-size: 1.8em;
    font-family: "Roboto";
}

footer a:hover{
    color:#2A9D8F;
    text-decoration: underline;
    

}
/* Style the Image Used to Trigger the Modal */
#myImg, #myImg2, #myImg3, #myImg4, #myImg5 {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: 0.3s;
    

}
  
#myImg:hover, #myImg2:hover, #myImg3:hover, #myImg4:hover, #myImg5:hover {
    opacity: 0.7;
}
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
    max-height: 430px;
}
  
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption, #caption2, #caption3, #caption4, #caption5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 200px;
    font-size: 2.5em;
    font-family:"Kaushan Script";
}
  
/* Add Animation - Zoom in the Modal */
.modal-content, #caption, #caption2, #caption3, #caption4, #caption5 {
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
/* The Close Button */
.close, .close2, .close3, .close4, .close5 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus,
.close5:hover,
.close5:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}



  
@media screen and (max-width: 900px) {
    .web-marketing-grid, .web-home-grid, .web-samples-grid,.show-marketing {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        
    }
    
    .web-home-title {
        font-size: 2.5em;
        color:#E53D00;
    }
    div.scroll-container{
        height:450px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .image_gallery{
        height:420px;
    }
    .home_paragraph_1{
        font-size: 1.25em;
    }
    .home_paragraph_2{
        font-size: 1.25em;
    }
    .samples_paragraph_1, .samples_paragraph_2, .samples_paragraph_3, .samples_paragraph_4, .samples_paragraph_5{
        font-size: 1.25em;
    }
    #myImg, #myImg2, #myImg3, #myImg4{
        margin-left: 2%;
        width: 130px;
        height: 130px;
        

    }
    #myImg5{
        
        width: 130px;
        height: 130px;
        
        margin-left: 2%;
    }
    .image_text{
        font-size: 1em;
    }
    
  
    #background {
        display: none;
    }
   
    footer {
        margin-top: 25px;
    }
    footer a {
        font: 1em;
    }

}
